body{
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.wrap{
    width: 100%;
    height: 100%;
    background: linear-gradient( #ff6161, #9198e5);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header{
    font-size: 8em;
    color: white;
}


/* section */
.lists_wrap{
    width: 493px;
    height: 350px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    overflow-y: auto;
}

.wrap::-webkit-scrollbar{
    display: none;
}

form{
    width: 100%;
}

ul{
    margin: 0;
    padding: 0;
    display: inline-block;
    height: 20%;
    width: 100%;
    line-height: 70px;
    padding: 0;
}

li{
    list-style: none;
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-weight: bold;
}

.btns{
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.btn{
    background: linear-gradient(#9198e5,#ff6161);
    width: 75%;
    height: 80%;
    margin: auto;
    line-height: 56px;
    border-radius: 30%;
    font-size: 0.8em;
    color: white;
    cursor: pointer;
    border: none;
    font-weight: bold;
}
/* footer */
.text_inputbox{
    margin-top: 10px;
    width: 493px;
    display: flex;
    justify-content: space-between;
    
}

.add{
    width: 100%;
    display: flex;
}

.add >input{
    width: 100%;
    font-size: 2em;
    border: none;
    font-weight: bold;
    border-radius: 20px;
}

.add >input:focus{
    outline: none;
}

.add-btn, .edit-btn{
    display: inline-block;
    font-size:3em;
    border: none;
    background-color: transparent;
    color: white;
    margin-right: 7px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s;
}
.add-btn{
    position: relative;
    opacity: 1;
}
.edit-btn{
    position: absolute;
    visibility: hidden;
    opacity: 0;
}
.edit-btn-visible{
    visibility: visible;
    opacity: 1;
}
.add-btn-hidden{
    visibility: hidden;
    opacity: 0;
}

.checked-list-text{
    text-decoration:line-through;
    color: red;

}


.lists-checkbox{
    width:50px;
    height: 50px;
}